[Desktop Entry]
Name=mintDesktop
Comment=Desktop configuration tool
Exec=mintdesktop
Icon=user-desktop
Terminal=false
Type=Application
Encoding=UTF-8
Categories=GNOME;GTK;Settings;DesktopSettings;
StartupNotify=false
