[Desktop Entry]
Name=Desktop Configuration Tool
Name[csb]=Desktop Configuration Tool
Name[fr]=Desktop Configuration Tool
Name[nn]=Desktop Configuration Tool
Name[cs]=Desktop Configuration Tool
Name[pt]=Desktop Configuration Tool
Name[fo]=Desktop Configuration Tool
Name[nb]=Desktop Configuration Tool
Name[ar]=Desktop Configuration Tool
Name[ro]=Desktop Configuration Tool
Name[ast]=Desktop Configuration Tool
Name[gl]=Desktop Configuration Tool
Name[ja]=Desktop Configuration Tool
Name[he]=Desktop Configuration Tool
Name[sr]=Desktop Configuration Tool
Name[pl]=Desktop Configuration Tool
Name[lt]=Desktop Configuration Tool
Name[ru]=Desktop Configuration Tool
Name[hu]=Desktop Configuration Tool
Name[fi]=Desktop Configuration Tool
Name[de]=Desktop Configuration Tool
Name[el]=Desktop Configuration Tool
Name[zh_CN]=Desktop Configuration Tool
Name[en_GB]=Desktop Configuration Tool
Name[am]=Desktop Configuration Tool
Name[sl]=Desktop Configuration Tool
Name[es]=Desktop Configuration Tool
Name[tr]=Desktop Configuration Tool
Name[bg]=Desktop Configuration Tool
Name[ko]=Desktop Configuration Tool
Name[mr]=Desktop Configuration Tool
Name[nl]=Desktop Configuration Tool
Name[et]=Desktop Configuration Tool
Name[zh_TW]=Desktop Configuration Tool
Name[sk]=Desktop Configuration Tool
Name[pt_BR]=Desktop Configuration Tool
Name[is]=Desktop Configuration Tool
Name[sv]=Desktop Configuration Tool
Name[hi]=Desktop Configuration Tool
Name[sq]=Desktop Configuration Tool
Name[it]=Desktop Configuration Tool
Name[hr]=Desktop Configuration Tool
Name[uk]=Desktop Configuration Tool
Name[da]=Desktop Configuration Tool
Comment=Fine-tune Gnome settings
Comment[csb]=Fine-tune Gnome settings
Comment[fr]=Fine-tune Gnome settings
Comment[nn]=Fine-tune Gnome settings
Comment[cs]=Fine-tune Gnome settings
Comment[pt]=Fine-tune Gnome settings
Comment[fo]=Fine-tune Gnome settings
Comment[nb]=Fine-tune Gnome settings
Comment[ar]=Fine-tune Gnome settings
Comment[ro]=Fine-tune Gnome settings
Comment[ast]=Fine-tune Gnome settings
Comment[gl]=Fine-tune Gnome settings
Comment[ja]=Fine-tune Gnome settings
Comment[he]=Fine-tune Gnome settings
Comment[sr]=Fine-tune Gnome settings
Comment[pl]=Fine-tune Gnome settings
Comment[lt]=Fine-tune Gnome settings
Comment[ru]=Fine-tune Gnome settings
Comment[hu]=Fine-tune Gnome settings
Comment[fi]=Fine-tune Gnome settings
Comment[de]=Fine-tune Gnome settings
Comment[el]=Fine-tune Gnome settings
Comment[zh_CN]=Fine-tune Gnome settings
Comment[en_GB]=Fine-tune Gnome settings
Comment[am]=Fine-tune Gnome settings
Comment[sl]=Fine-tune Gnome settings
Comment[es]=Fine-tune Gnome settings
Comment[tr]=Fine-tune Gnome settings
Comment[bg]=Fine-tune Gnome settings
Comment[ko]=Fine-tune Gnome settings
Comment[mr]=Fine-tune Gnome settings
Comment[nl]=Fine-tune Gnome settings
Comment[et]=Fine-tune Gnome settings
Comment[zh_TW]=Fine-tune Gnome settings
Comment[sk]=Fine-tune Gnome settings
Comment[pt_BR]=Fine-tune Gnome settings
Comment[is]=Fine-tune Gnome settings
Comment[sv]=Fine-tune Gnome settings
Comment[hi]=Fine-tune Gnome settings
Comment[sq]=Fine-tune Gnome settings
Comment[it]=Fine-tune Gnome settings
Comment[hr]=Fine-tune Gnome settings
Comment[uk]=Fine-tune Gnome settings
Comment[da]=Fine-tune Gnome settings
Exec=mintdesktop
Icon=user-desktop
Terminal=false
Type=Application
Encoding=UTF-8
Categories=GNOME;GTK;Settings;DesktopSettings;
StartupNotify=false
