Source: mate-tweak
Section: admin
Priority: optional
Maintainer: Martin Wimpress <code@ubuntu-mate.org>
Uploaders: Mike Gabriel <sunweaver@debian.org>,
Build-Depends: debhelper (>= 9),
               python,
               python-setuptools,
Standards-Version: 3.9.6
X-Python-Version: >= 2.6

Package: mate-tweak
Architecture: all
Depends: ${python:Depends},
         ${misc:Depends},
         python (>= 2.4),
         python (<< 3),
         wmctrl
Description: MATE desktop tweak tool
 Configures some aspects of the MATE desktop not exposed via the
 MATE Control Center applets.
