Source: mate-tweak
Section: admin
Priority: optional
Maintainer: Martin Wimpress <code@ubuntu-mate.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: mate-tweak
Architecture: all
Depends: python (>= 2.4), python (<< 3), wmctrl
Description: MATE desktop tweak tool
 Configures some aspects of the MATE desktop.
