[Desktop Entry]
Type=Application
Name=Marco
Name[ar]=ماركو
Name[as]=Marco
Name[ast]=Marco
Name[az]=Marco
Name[be]=Marco
Name[be@latin]=Marco
Name[bg]=Marco
Name[bn]=মেটাসিটি
Name[bn_IN]=Marco
Name[br]=Marco
Name[bs]=Marco
Name[ca]=Marco
Name[ca@valencia]=Marco
Name[cmn]=Marco
Name[crh]=Marco
Name[cs]=Marco
Name[cy]=Marco
Name[da]=Marco
Name[de]=Marco
Name[dz]=མེ་ཊ་སི་ཊི།
Name[el]=Marco
Name[en@shaw]=·𐑥𐑧𐑑𐑨𐑕𐑦𐑑𐑦
Name[en_AU]=Marco
Name[en_CA]=Marco
Name[en_GB]=Marco
Name[eo]=Marco
Name[es]=Marco
Name[et]=Marco
Name[eu]=Marco
Name[fa]=متاسیتی
Name[fi]=Marco
Name[fr]=Marco
Name[ga]=Marco
Name[gl]=Marco
Name[gu]=મેટાસીટી
Name[ha]=Metaciti
Name[he]=Marco
Name[hi]=मेटासिटी
Name[hr]=Marco
Name[hu]=Marco
Name[hy]=Մետասիթի
Name[id]=Marco
Name[ig]=Marco
Name[is]=Marco
Name[it]=Marco
Name[ja]=Marco
Name[ka]=Marco
Name[kn]=ಮೆಟಾಸಿಟಿ
Name[ko]=마르코
Name[ku]=Marco
Name[ky]=Marco
Name[la]=Marco
Name[lt]=Marco
Name[lv]=Marco
Name[mai]=मेटासिटी
Name[mg]=Marco
Name[mk]=Marco
Name[ml]=മെറ്റാസിറ്റി
Name[mn]=Marco
Name[mr]=Marco
Name[ms]=Marco
Name[nb]=Marco
Name[nds]=Marco
Name[ne]=मेटासिटि
Name[nl]=Marco
Name[nn]=Marco
Name[oc]=Marco
Name[or]=ମେଟାସିଟି
Name[pa]=ਮੈਟਾਸਿਟੀ
Name[pl]=Marco
Name[pt]=Marco
Name[pt_BR]=Marco
Name[ro]=Marco
Name[ru]=Marco
Name[sk]=Marco
Name[sl]=Marco
Name[sq]=Marco
Name[sr]=Метасити
Name[sr@latin]=Metasiti
Name[sv]=Marco
Name[ta]=மெட்டாசிட்டி
Name[te]=మెటాసిటి
Name[th]=Marco
Name[tk]=Marco
Name[tr]=Marco
Name[uk]=Marco
Name[vi]=Marco
Name[wa]=Marco
Name[xh]=Imarco
Name[yo]=Marco
Name[zh_CN]=Marco
Name[zh_HK]=Marco
Name[zh_TW]=Marco
Exec=marco-compton
NoDisplay=true
# name of loadable control center module
X-MATE-WMSettingsModule=marco
# name we put on the WM spec check window
X-MATE-WMName=Marco
# back compat only 
X-MateWMSettingsLibrary=marco
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=marco
X-MATE-Bugzilla-Component=general
X-MATE-Autostart-Phase=WindowManager
X-MATE-Provides=windowmanager
X-MATE-Autostart-Notify=true
