[Desktop Entry]
Name=MATE Tweak
Exec=mate-tweak
Icon=tweaks-app
Terminal=false
Type=Application
Categories=GTK;Settings;DesktopSettings;
StartupNotify=false
OnlyShowIn=MATE;
Keywords=MATE;desktop;marco;compiz;theming;customize;fine;tune;tweak;adapt;
Comment=Customize desktop, panel, and window manager settings
