[Desktop Entry]
Name=Volume Control
Name[af]=Volumebeheer
Name[am]=መጠን መቆጣጠሪያ 
Name[ar]=التحكم في شدة الصوت
Name[as]=শব্দৰ মাত্ৰা নিয়ন্ত্ৰণকৰ্তা
Name[ast]=Control de Volume
Name[az]=Səs İdarəsi
Name[be]=Кіраванне гукам
Name[be@latin]=Rehulacyja hučnaści
Name[bg]=Сила на звука
Name[bn]=ভলিউম নিয়ন্ত্রণ
Name[bn_IN]=শব্দের মাত্রা নিয়ন্ত্রণকারী
Name[br]=Reoliñ an ampled
Name[bs]=Kontrola zvuka
Name[ca]=Control del volum
Name[ca@valencia]=Control del volum
Name[cmn]=音量控制
Name[cs]=Ovládání hlasitosti
Name[cy]=Rheolydd Lefel Sain
Name[da]=Lydstyrkekontrol
Name[de]=Lautstärkeregler
Name[dz]=སྐད་ཤུགས་ཚད་འཛིན།
Name[el]=Έλεγχος έντασης ήχου
Name[en@shaw]=𐑝𐑪𐑤𐑿𐑥 𐑒𐑩𐑯𐑑𐑮𐑴𐑤
Name[en_AU]=Volume Control
Name[en_CA]=Volume Control
Name[en_GB]=Volume Control
Name[es]=Control de volumen
Name[et]=Helitugevuse juhtija
Name[eu]=Bolumen-kontrola
Name[fa]=کنترل بلندی صدا
Name[fi]=Äänenvoimakkuuden hallinta
Name[fr]=Contrôleur de volume
Name[ga]=Rialtán Airde
Name[gl]=Control de volume
Name[gu]=અવાજનું પ્રમાણ નિયંત્રક
Name[he]=בקרת עצמה
Name[hi]=आवाज निर्धारक नियंत्रक
Name[hr]=Kontrola glasnoće
Name[hu]=Hangerőszabályzó
Name[id]=Pengatur Volume
Name[it]=Regolazione volume
Name[ja]=音量調節ツール
Name[ka]=ხმის კონტროლი
Name[kn]=ಧ್ವನಿ ಪ್ರಮಾಣ ನಿಯಂತ್ರಣ
Name[ko]=볼륨 조정
Name[ku]=Kontrolkirina Deng
Name[ky]=Көлөм жөндөгүчү
Name[lt]=Garso valdymas
Name[lv]=Skaļuma kontrole
Name[mai]=आवाज निर्धारक
Name[mg]=Fanamafisam-peo
Name[mk]=Поставување на јачина на звукот
Name[ml]=ശബ്ദം ക്രമീകാരി
Name[mn]=Дууны хянагч
Name[mr]=ध्वनिमान नियंत्रण
Name[ms]=Kawalan Volum
Name[nb]=Volumkontroll
Name[nds]=Luutstärkenoppasser
Name[ne]=भोल्युम नियन्त्रण
Name[nl]=Volumeregeling
Name[nn]=Volumkontroll
Name[oc]=Contraròtle de volum
Name[or]=ଧ୍ବନି ପ୍ରବଳତା ନିୟନ୍ତ୍ରକ
Name[pa]=ਆਵਾਜ਼ ਕੰਟਰੋਲ
Name[pl]=Regulacja głośności
Name[pt]=Controlo de volume
Name[pt_BR]=Controle de volume
Name[ro]=Control volum
Name[ru]=Регулятор громкости
Name[si]=හඬ පාලකය
Name[sk]=Ovládanie hlasitosti
Name[sl]=Nadzor glasnosti
Name[sq]=Kontrolli i volumit
Name[sr]=Управљање звуком
Name[sr@latin]=Upravljanje zvukom
Name[sv]=Volymkontroll
Name[ta]=ஒலிவளவு கட்டுப்பாடு
Name[te]=వాల్యూమ్ నియంత్రిక
Name[th]=ความดังเสียง
Name[tk]=Hejim Kontroli
Name[tr]=Ses Kontrolü
Name[ug]=ئاۋاز تىزگىنى
Name[uk]=Регулятор гучності
Name[ur]=آواز کنٹرول
Name[vi]=Điều khiển Âm lượng
Name[wa]=Contrôle do volume
Name[xh]=Ulawulo lweSandi
Name[zh_CN]=音量控制
Name[zh_HK]=音量控制
Name[zh_TW]=音量控制
Comment=Show desktop volume control
Comment[af]=Wys volumebeheer vir die werkskerm
Comment[am]=የዴስክቶፕ መጠን መቆጣጠሪያ ማሳያ 
Comment[ar]=اعرض التحكم في شدة الصوت
Comment[as]=ডেস্কটপত শব্দৰ মাত্ৰা নিয়ন্ত্ৰণ ব্যৱস্থা প্ৰদৰ্শন কৰা হ'ব
Comment[ast]=Amosar el control de volume de l'escritoriu
Comment[be@latin]=Pakažy rehulatar hučnaści rabočaha stała
Comment[bg]=Показване на управлението на звука
Comment[bn]=ডেস্কটপের মধ্যে ভলিউম নিয়ন্ত্রণ ব্যবস্থা প্রদর্শন করা হবে
Comment[bn_IN]=ডেস্কটপের মধ্যে শব্দের মাত্রা নিয়ন্ত্রণ ব্যবস্থা প্রদর্শন করা হবে
Comment[br]=Diskouez reoler an ampled ar burev
Comment[ca]=Mostra el control del volum de l'escriptori
Comment[ca@valencia]=Mostra el control del volum de l'escriptori
Comment[cmn]=顯示桌面音量控制
Comment[cs]=Zobrazí ovládání hlasitosti pracovního prostředí
Comment[da]=Vis lydstyrkekontrol til skrivebordet
Comment[de]=Lautstärkeregler anzeigen
Comment[el]=Εμφάνιση ελέγχου ήχου επιφάνειας εργασίας
Comment[en@shaw]=𐑖𐑴 𐑛𐑧𐑕𐑒𐑑𐑪𐑐 𐑝𐑪𐑤𐑿𐑥 𐑒𐑩𐑯𐑑𐑮𐑴𐑤
Comment[en_AU]=Show desktop volume control
Comment[en_GB]=Show desktop volume control
Comment[es]=Mostrar el control de volumen del escritorio
Comment[et]=Töölaua helivaljuse juhtimise näitamine
Comment[eu]=Erakutsi mahaigaineko bolumen-kontrola
Comment[fi]=Näytä työpöydän äänenvoimakkuuden hallinta
Comment[fr]=Afficher le contrôleur de volume
Comment[ga]=‭Taispeáin rialtán airde deisce
Comment[gl]=Amosar o control de volume do escritorio
Comment[gu]=ડેસ્કટોપ વોલ્યુમ નિયંત્રણ ને બતાવો
Comment[he]=הצגת בקרת עצמה בשולחן העבודה
Comment[hi]=डेस्कटॉप आवाज नियंत्रण दिखाएँ
Comment[hu]=Hangerőszabályzó megjelenítése
Comment[id]=Tampilkan kendali volume desktop
Comment[it]=Mostra la regolazione del volume
Comment[ja]=デスクトップの音量を調節するアプレットです
Comment[kn]=ಗಣಕತೆರೆಯ ಧ್ವನಿ ಪ್ರಮಾಣದ ನಿಯಂತ್ರಣವನ್ನು ತೋರಿಸು
Comment[ko]=데스크톱 볼륨 조정 표시
Comment[ky]=Иш столунун көлөм жөндөгүчүн көрсөтүү
Comment[lt]=Rodyti darbo aplinkos garsumo valdiklį
Comment[lv]=Parādīt darbvirsmas skaņas kontroli
Comment[ml]=പണിയിട ശബ്ദ ക്രമീകാരി കാണിക്കുക
Comment[mr]=डेस्कटॉप ध्वनिमान नियंत्रण दाखवा
Comment[ms]=Tunjuk kawalan volum desktop
Comment[nb]=Vis volumkontroll for skrivebordet
Comment[nds]=Schrievdisk
Comment[nl]=Volumeregeling tonen
Comment[nn]=Vis volumkontroll til skrivebordet
Comment[or]=ଡେସ୍କଟପ ଶବ୍ଦ ନିୟନ୍ତ୍ରଣ ଦର୍ଶାନ୍ତୁ
Comment[pa]=ਡੈਸਕਟਾਪ ਵਾਲੀਅਮ ਕੰਟਰੋਲ ਵੇਖੋ
Comment[pl]=Wyświetlanie regulacji głośności na pulpicie
Comment[pt]=Mostrar controlo de volume
Comment[pt_BR]=Exibir controle de volume
Comment[ro]=Afișare control volum desktop
Comment[ru]=Показать регулятор громкости
Comment[sk]=Zobrazí ovládanie hlasitosti pracovného prostredia
Comment[sl]=Pokaži namizni nadzornik zvoka
Comment[sr]=Прикажи контролу јачине звука
Comment[sr@latin]=Prikaži kontrolu jačine zvuka
Comment[sv]=Visa skrivbordets volymkontroll
Comment[ta]=பணிமேடை ஒலியளவு கட்டுப்பாட்டை காட்டு
Comment[te]=డెస్కుటాప్ ధ్వని నియంత్రణను చూపుము
Comment[th]=แสดงหน้าต่างปรับความดังเสียง
Comment[tr]=Masaüstü ses kontrolünü göster
Comment[ug]=ئۈستەل`ئۈستى ئاۋاز تىزگىننى كۆرسەت
Comment[uk]=Показати регулятор гучності
Comment[ur]=ڈیسک ٹاپ کا آواز کنٹرول دکھائیں
Comment[vi]=Hiện điều khiển âm lượng trên màn hình nền
Comment[zh_CN]=显示桌面音量控制
Comment[zh_HK]=顯示桌面音量控制
Comment[zh_TW]=顯示桌面音量控制
Icon=multimedia-volume-control
Exec=mate-volume-control-applet
Terminal=false
Type=Application
Categories=AudioVideo;Mixer;Settings;HardwareSettings;
Keywords=MATE;volume;control;mixer;settings;sound;
NoDisplay=true
OnlyShowIn=MATE;
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-media
X-MATE-Bugzilla-Component=mate-volume-control
# See http://bugzilla.mate.org/show_bug.cgi?id=568320
#X-MATE-Autostart-Phase=Panel
X-MATE-Autostart-Notify=true
