<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>ubuntu-mate</vendor>
  <vendor_url>http://hal.freedesktop.org/docs/PolicyKit/</vendor_url>
  <action id="org.mate.mate-tweak.helper">
    <description>MATE Tweak Authentication dialogue</description>
    <message>This is a helper to install and remove custom panel
    layouts.</message>
    <icon_name>mate-panel</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/mate-tweak/mate-tweak-helper</annotate>
  </action>
</policyconfig>